.container {
  background-color: gray;
  display: flex;
  align-items: stretch;
}
.leftSectionWrapper {
  background-color: red;
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.leftSection {
  background-color: orange;
  width: 275px;
  height: 100dvh;
  opacity: 0.5;
}

.leftSectionFixed {
  position: fixed;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.logo {
  display: inline-block;
  background-color: white;
  height: 56px;
  margin-top: 2px;
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPill:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.rightSectionWrapper {
  background-color: green;
  display: flex;
  align-items: flex-start;
  height: 100dvh;
  flex-direction: column;
  flex-grow: 1;
}

.rightSectionInner {
  background-color: blueviolet;
  width: 990px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: yellow;
  width: 600px;
  height: 200dvh;
  opacity: 0.5;
}

.rightSection {
  background-color: blue;
  width: 350px;
  height: 100%;
}

.search {
  position: fixed;
  height: 42px;
  width: inherit;
  border-radius: 21px;
  background-color: rgb(239, 243, 244);
  margin-top: 6px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.search svg {
  margin-left: 20px;
  fill: rgb(83, 100, 113);
}

.search input {
  outline: none;
  background-color: inherit;
  border: none;
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
}
